
body{

    padding-bottom: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}


h2  {


    color: rgb(26, 27, 27);



}

/* Classes */
.paragrafo{
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 50px;
}

/* IDs */
#titulo{
    background-color: rgb(255, 0, 247);
    color: white;
    padding: 50px;
}

/* Ordem dos seletores */

h2{
    border-bottom: 5px solid rgb(38, 0, 255);
}
.subtitulo{
    
    border-bottom: 3px solid rgb(0, 251, 67);
}
#outro_titulo{
    border-bottom: 5px solid rgb(0, 0, 0);
   
}

/* Nome de Cores */
/* 0 é valor mais escuro e F o mais claro */
/* #000 é o preto e #fff é o branco */
/* Os dois primeiros digitos é o vermelho , os dois do meio é o verde , e os dois últimos são o azul */
.color-name{
    color: blueviolet
    
    
}

.hex{

    color: #567
}

/* Pode simplicar valores repetidos */
/* Ex: #AA55FF -> A5F */
/* Ex: #112233 -> 123 */
.hex-simple{


    color: #a5f 
}

/* o ultimo indice ajusta a opacidade do texto */

.rgba{

 
    color: rgb(0,255,255,0.1)

}

/* Background */

.fundo{

    background-color: #559900;
    color: pink


}

.bg{

    border-bottom: 5px solid rgb(7, 7, 7) ;
    background-color: rgb(200,20,40);
    color: cyan
}

/* Background opacity */

.bg-opacity{

    background-color: green;
    opacity: 0.2;



}
.bg-opacity2{

    background-color: rgb(5, 197, 251);
    opacity: 0.1;
    color: #9c1010
    



}